body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.nav-bar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #8ECAE6;
  height: 100px;
  width: 100%;
}
.nav-bar ul {
  display: flex;
}

.navbar-logo {
  height: 100px; /* Adjust based on your logo's size to fit within the navbar */
  margin-right: 300px; /* Adds some space between the logo and the nav items */
}

.nav-bar li {
  list-style: none;
  text-align: center;
}

.nav-bar ul li a {
  text-decoration: none;
  color: white;
  padding: 30px;
  border-radius: 2px;
}

.nav-bar ul li :hover {
  background-color: white;
  opacity: 0.5;
  color: rgb(7, 6, 6);
  border-radius: 40px;
}
