.container-fluid {
    width: 100%;
    height: 100%;
  }
  
  .infohead {
    color: #ffb703;
    display: flex;
    margin-left: 400px;
    text-align: center;
    z-index: 1;
    justify-content: center;
  }
  
  .infohead h1 {
    font-size: 3.5em;
    margin-top: 100px;
    margin-right: 370px;
    text-align: center;
    color: #ffb703;
  }
  
  .sub-container {
    width: 100%;
    height: 50%;
  }
  
  .product-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-left: 20px;
    width: 100%;
  }
  
  .product-card {
    position: relative;
    width: 25%;
    height: 600px;
    margin-left: 25px;
    background-color: rgb(255, 230, 0);
    text-align: center;
    z-index: 0;
    flex-shrink: 0;
    overflow: hidden;
    transition: transform 0.3s;
  }
  
  .product-card:first-child {
    margin-left: 30px;
  }
  
  .card-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: aliceblue;
    background: rgba(84, 152, 161, 0.671);
    opacity: 0;
    transition: opacity 0.5s, transform 0.5s;
    transform: translateY(-100%);
  }
  
  .product-card:hover .card-overlay {
    opacity: 1;
    transform: translateY(0);
  }
  
  .product-img {
    height: 600px;
    width: 100%;
    transition: transform 0.3s;
  }
  
  .product-card:hover .product-img {
    transform: scale(1.1);
  }
  
  .product-img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  
  .product-details {
    position: absolute;
    bottom: 0;
    left: 0;
    top: 75%;
    width: 100%;
    padding: 10px;
    opacity: 0;
    transition: opacity 0.5s;
    background-color: #8ecae6;
  }
  
  .product-card:hover .product-details {
    opacity: 1;
  }
  
  .sub-details {
    display: flex;
    justify-content: space-between;
  }
  
  .buffer {
    width: 100%;
    height: 70px;
    text-align: center;
    padding-top: 175px;
  }
  
  .footer {
    background-color: #f4f4f4;
    padding: 20px 0;
    text-align: center;
  }
  