/* homepage.css */

.body {
    background-color: rgba(247, 241, 229, 0.952);
  }
  
  .container-fluid {
    width: 100%;
    height: 100%;
    /* Your container-fluid styles */
  }
  
  .carousel {
    width: 100%;
    height: 55%;
    align-items: center;
    justify-content: center;
    /* Your carousel styles */
  }
  
  .carousel-img {
    margin-top: 40px;
    width: 65%;
    height: 50%; 
    z-index: 0;
    opacity: 0.9;
    margin-bottom: 40px;
    object-fit: none;
    transform: translateX(51.75%);
    overflow-x: hidden;
  }

  
  .carousel-text2 {
    width: 30%;
    height: 100%;
    color: black;
    text-align: left;
    transform: translate(-225%,-30%);
    z-index: 1;
    /* Your carousel text styles */
  }
  
  .carousel-text h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    padding-left: 20px;
    color: black;
    /* Your carousel text h1 styles */
  }
  
  .carousel-text2 p {
    background-color: #8ECAE6;
    margin-top: 80px;
    padding: 50px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    color: white;
    /* Your carousel text p styles */
  }
  
  .midline {
    width: 100%;
    height: 20px;
    /* Your midline styles */
  }
  
  .midline h1 {
    font-size: 3.5em;
    margin-top: 100px;
    padding-left: 18%;
    color: black;
    /* Your midline h1 styles */
  }
  
  .sub-container {
    width: 50%;
    height: 50%;
    /* Your sub-container styles */
  }
  
  .sub-containerimage img {
    display: flex;
    width: 45%;
    height: 100%;
    justify-content: space-evenly;
    margin-top: 80px;
    margin-left: 15%;
    /* Your sub-container image styles */
  }
  
  .sub-containertext {
    width: 30%;
    height: 100%;
    color: black;
    text-align: center;
    transform: translateY(-200%);
    margin-left: 60%;
    z-index: 1;
    /* Your sub-container text styles */
  }
  
  .sub-containertext h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    padding-left: 100px;
    color: black;
    white-space: normal;
    /* Your sub-container text h1 styles */
  }
  
  .shop-now-button {
    padding: 10px 20px;
    margin-left: 100px;
    font-size: 18px;
    font-weight: bold;
    background-color: #ffb703;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    /* Your shop-now-button styles */
  }
  
  .shop-now-button:hover {
    background-color: #f1ad00;
    transform: scale(1.1);
    /* Your shop-now-button hover styles */
  }
  
  .shop-now-button a {
    color: white;
    text-decoration: none;
  }
  
  .shop-now-button a:hover {
    color: white;
    text-decoration: none;
  }
 
  .footer {
    background-color: #f4f4f4;
    padding: 20px 0;
    text-align: center;
    /* Your footer styles */
  }
  