<!-- Use this to insert navbar on any page that is requier
to maintain standardized navbar -->
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Basic Navbar with Search Button</title>
    <link rel="stylesheet" type="text/css" href="../style/navbarStyle.css" />
  </head>
  <body>
    <navbar class="nav-bar">
      <ul class="nav-list">
        <li ><a href="">Home</a></li>
        <li><a href="">About Us</a</li>
        <li><a href="">Contact Us</a</li>
        <li><a href="">Cart</a</li>
        <li><a href="">Register</a</li>
      </ul>
      <div class="search-container">
        <input type="text" placeholder="Search..." />
        <button type="submit">Search</button>
      </div>
    </navbar>
  </body>
</html>
